.card {
  width: 400px;
}
.main-content{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
}
md-chip {
  max-width: 200px;
  margin-left: 10px;
}
.item_title{
  width: 100px;
}
