h1 {
  margin-left: 20px;
}
.connector-content{
  margin-left: 20px;
  width: calc(100%-20px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

}

.connector-add{
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}
.delete {
  margin-left: 10px;
}
