/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
body, html {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: Roboto,"Helvetica Neue",sans-serif;

}
.flex-aligned-row{
  display: flex;
  align-items: center;
}
.icon-text{
  margin-left: 10px;
}
home {
  width: 100%;
}
connectors{
  width: 100%;
}
list{
  width: 100%;
  height: 100%;
}
