<md-nav-list>
  <md-list-item routerLinkActive="active">
     <a md-line routerLink="/home" ><span class="flex-aligned-row"><md-icon>home</md-icon> <span class="icon-text">Home</span></span></a>
  </md-list-item>
  <md-list-item routerLinkActive="active">
     <a md-line routerLink="/connectors"><span class="flex-aligned-row"><md-icon>settings_input_component</md-icon> <span class="icon-text">Connectors</span></span></a>
   </md-list-item>
   <md-list-item routerLinkActive="active">
     <a md-line routerLink="/repositories"><span class="flex-aligned-row"><md-icon>filter_drama</md-icon> <span class="icon-text">Cloud Search repositories</span></span></a>
   </md-list-item>
   <md-list-item >
     <a md-line href="..."><span class="flex-aligned-row"><md-icon>settings</md-icon> <span class="icon-text">Settings</span></span></a>
  </md-list-item>
</md-nav-list>
